<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="1">


	<test name="Test">
		<parameter name="Browser" value="chrome" />
		<parameter name="URL" value="https://app.forestadmin.com/Live%20Demo/Production/Operations/data/806052/in
dex"/>
<classes>
            <class name="Tests.FilterTester"/>
            <class name="Tests.SearchTester"/>
            <class name="Tests.FilterTesterSecond"/>
            <class name="Tests.SortingTester"/>
            
			<class name="PageObjects.CompanyLandingPage" />
</classes>

	</test>

</suite>